config setup
    charondebug="ike 2, knl 2, cfg 2"
    uniqueids=no

conn test-conn
    auto=add
    type={{ mode }}
    keyexchange={{ ikev }}
    authby=secret
    left={{ local_ip }}
    leftid=@{{ local_id }}
    leftsubnet={{ local_ip }}/32
    right={{ remote_ip }}
    rightid=@{{ remote_id }}
    rightsubnet={{ remote_ip }}/32
    ike={{ ike_proposal }}!
    esp={{ esp_proposal }}!
    ikelifetime={{ keylife }}
    lifetime={{ keylife }}
